

<div class="d-flex flex-row bd-highlight mb-3 py-5">
    <!-- <app-search></app-search> -->

    <div class="content-body">
        <section id="website-cards">

        </section>
        <section id="shopping-cards">
            <div class="row match-height">
                <div class="col-lg-4 col-md-12">
                    <div class="card text-center" style="height: 450.55px;">
                        <div class="card-content">
                            <img class="card-img-top img-fluid" src="../../../assets/logos/logo-gucci.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Gucci</h4>
                                <p class="card-text">Some quick example text.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card text-center" style="height: 450.55px;">
                        <div class="card-content">
                            <img class="card-img-top img-fluid" src="../../../assets/logos/logo-chanel.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Chanel</h4>
                                <p class="card-text">Some quick example text.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card text-center" style="height: 450.55px;">
                        <div class="card-content">
                            <img class="card-img-top img-fluid" src="../../../assets/logos/logo-canada-goose.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Canada Goose</h4>
                                <p class="card-text">Some quick example text.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="card text-center">
                        <div class="card-content">
                            <img class="card-img-top img-fluid" src="../../../assets/logos/logo-canada-goose.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Running Shoes</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card text-center">
                        <div class="card-content">
                            <img class="card-img-top img-fluid" src="../../../assets/logos/logo-canada-goose.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Running Shoes</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Shopping cards section end -->
                </div>
  </div>
