<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-around">
        <div class="dropdown show">
            <a class="p-2 text-muted dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                beauty
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" routerLink="/haircare" i18n>hair care</a>
                <a class="dropdown-item" href="#" routerLink="/skincare" i18n>skin care</a>
                <a class="dropdown-item" href="#" routerLink="/cosmetics" i18n>cosmetics</a>
                <a class="dropdown-item" href="#" routerLink="/oralcare" i18n>oral care</a>
            </div>
        </div>

        <div class="dropdown show">
            <a class="p-2 text-muted dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              fashion
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" routerLink="" i18n>accessories</a>
                <a class="dropdown-item" href="#" routerLink="" i18n>bags | wallets</a>
                <a class="dropdown-item" href="#" routerLink="" i18n>clothes</a>
                <a class="dropdown-item" href="#" routerLink="" i18n>shoes</a>
            </div>
        </div>

        <div class="dropdown show">
            <a class="p-2 text-muted dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              health
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" i18n>essential oils</a>
                <a class="dropdown-item" href="#" i18n>vitamins</a>
                <a class="dropdown-item" href="#" i18n>proteins</a>
                <a class="dropdown-item" href="#" i18n>weight</a>
                <a class="dropdown-item" href="#" i18n>women</a>
            </div>
        </div>
    </nav>
  </div>